@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hero-container{
  background-image: url(./img/bg.png);
background-position: center;
background-repeat: no-repeat;
height: 110vh;
background-attachment: fixed;

}

.navbar{
    height: 15vh;
}

.navbar-nav{
    flex-direction: row;
    margin-right: 2%;
}


.navbar-brand 
{
    margin-left:1% ;
    align-items: center;
}

.btn-header{
    margin-left: 15%;
    background: transparent;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 30px;
    font-family: 'Open sans';
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
    font-weight: bold;
}

/*///////////////////// Button ////////////////////*/
  
  .btn {
    background: transparent;
    height: 50px;
    min-width: 150px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 20px;
    font-family: 'Open sans';
    position: relative;
    transition: 1s;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 5px;
  }
  
  .btn .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 1000ms;
  }
  
  .btn-header .circle {
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: 1000ms;
  }
  
  .noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  
  .btn:hover {
    background: transparent;
    color: #03e9f4;
  }
  
  .btn-header:hover {
    color: #03e9f4;
    background: transparent;
  }
  
  .btn:hover .circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 2px solid #03e9f4;
  }
  .btn-header:hover .circle {
    height: 50px;
    width: 150px;
    left: 0;
    border-radius: 0;
    border-bottom: 4px solid #03e9f4;
  }

/* ////////////////////////////////////////////////////////////////////////////// */



/* //////////////First heading //////////////////////////*/

.firstHeading{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.developer{
  border-bottom: 4px solid #03e9f4;
}

.firstHeading .details{
  align-items: right;
    padding-top: 80px;
    padding-bottom: 40px;
}


.firstHeading h1{
    color: white;
    font-size: 5rem;
}


.img1{
    height: inherit;
    width: 39px;
}

.socialMedia{
    padding-top: 60px;
}

.socialMedia img{
    height: inherit;
    width: 20px;
}


.socialMedia a{
    padding:0px 10px ;
}

.button2{
  padding-top: 30px;
}

/* CSS */
.button-51 {
  background-color: transparent;
  border: 3px solid #266DB6;
  box-sizing: border-box;
  color: rgb(218, 199, 201);
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-radius:20px ;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  color:  #08f3f3;
  background-color: hsl(0, 0%, 3%);
  cursor: pointer;
  border-radius:20px ;

}

.button-51:before {
  background-color: transparent;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  border-radius:20px ;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #3298c0;
  border-radius:20px ;

}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}

.secondContainer{
  padding-top: 80px;
}

.aryan
{
  border-radius: 100%;
}

#aboutMe{
  font-size: 3rem;
}

.pt-2{
  font-size: 1.2rem;
}

.progress{
  background-color: rgb(153, 145, 145);
  border-radius: 39px;
}

.progress-bar{
  background-color: rgb(11, 89, 134);
}


.thirdContainer{
  margin-top: 100px;
  background-image: url(./img/bg.jfif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 250px;

}

.text-center{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text-center h1{
  padding-top: 50px;
}

.hiring{
  margin: auto;
}

.fourthContainer{
  height: 500px;
}

.footer_bg{
  padding-top: 100px;
  background-color:#1D1F25;
  background-image: url(./img/bg.png);
  background-position: center;
  background-attachment: fixed;
}

.fourthContainer{
  background-color: silver;
  align-items: center;
  background-image: url(./img/bg.jpg);
  height: auto;
}

.projectHeading{
  padding: 60px ;
  color: white;
}


@media only screen and (max-width: 900px) {
  .firstContainer{
    background-image: url(./img/wallpaper.jpg);
  }
}
